html, body, #app {  height: 100%  }

#app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}

.box {
    width: 150px; height: 60px;
    background: #f00;
    margin: 5px;

    /* flex-grow: 1;  Flex Grow = 1 pode ser aumentado */
    /* flex-shrink: 1 Flex Shrink = 1 pode ser reduzido 
    ou = 0 não pode mas aparece um scroll  */
    /* flex: 1;   (Flex) neste caso ele autoriza o grow e o shrink */
}

.red {
    order: 3;
}

.green {
    order: 1;
    background: #0f0;
}

.blue {
    order: 2;
    background: #00f;
}